<?xml version="1.0"?>
<model>
  <name>kobuki_hexagons_hokuyo</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Semantic Navigation Project</name>
  </author>
  <description>
    ROS 2 Gazebo Sim version of the ROS 1 Kobuki/TurtleBot2 hexagons stack with Hokuyo LiDAR.
  </description>
</model>
