<?xml version="1.0"?>
<model>
  <name>Walking person actor</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>semantic_nav_gazebo</name>
  </author>
  <description>
    Local Gazebo Actor definition using the package-vendored MakeHuman walk mesh.
  </description>
</model>
